{% extends "base.html" %}

{% block content %}

<section class="section m-3 my-5">
    <div class="container-fluid">
        <div class="d-block">
            <div class="border border-success rounded p-1" >
                Filters:
                <ul class="list-unstyled">
                {% for filter in data['filter'] %}
                {% if data['filter'][filter] != '' %}
                    <li class="d-block ms-3">{{ filter }}: {{ data['filter'][filter] }}</li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section m-3 my-5">
    <div class="container-fluid">
        <div>Results: {{ data['pet_data']|length }}</div>
        <div class="row p-0 m-0">
            {% for pet_id in data['pet_data'] %}
            <div class="position-relative col-4 col-sm-3 col-md-2 col-xxl-1 pt-0 pb-1 ps-0 pe-1">
                <a class="d-block" href="/details?pet_id={{ pet_id }}">
                    <img class="rounded thumbnail lazyload"
                        src="static/img/placeholder.jpg"
                        data-src="{{ data['pet_data'][pet_id]['photo_primary'] }}"
                    />
                    <div class="thumbnail-overlay-bottom p-2 p-s-1">
                        {{ data['pet_data'][pet_id]['name'] }}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

{% block debug %}
debug: {{ data }}
{% endblock %} 
